<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Modification d'un événement</title>
</head>
<body>
    <h2>Modification d'un événement: <span th:text="${eventIn.getId()}"></span></h2>
    <form th:action="${updateUrl}" method="POST" th:object="${eventIn}">
        <br>
        <label for="valeur">Valeur</label> <br>
        <input type="number"  th:field="*{valeur}" id="valeur" placeholder="Valeur"> <br>
        <br>
        <label for="date">Date</label> <br>
        <input type="date" th:field="*{date}" id="date"> <br>
        <br>
        <label for="commentaire">Commentaire</label> <br>
        <input type="text" th:field="*{commentaire}" id="commentaire"> <br>
        <br>
        <br>
        <input type="submit" value="Modifier l'évenement">
    </form>
</body>
</html>