<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Serie Temporelle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
            var event_values = [];
            var event_dates = [];
            var COLORS_T = [];
            var COLORS_B = [];
    </script>
</head>
<body>
    <h2> Serie temporelle: <span th:text="${serieTemporelle.getId()}"></span></h2>
    <h3> Titre: <span th:text="${serieTemporelle.getTitre()}"></span></h3>
    <p th:text="${serieTemporelle.getDescription()}"></p>
    <h3>Evenements:</h3>
    <div th:switch="${events}">
        <h2 th:case="null">liste Vide</h2>
        <div th:case="*">
            <table width="1px">
                <thead>
                <tr>
                    <th>Valeur</th>
                    <th>Date</th>
                    <th>Commentaire</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <script th:inline="javascript">
                        value = [[${event.getValeur()}]];
                        event_values.push(value);
                        event_dates.push([[${event.getDate()}]]);
                        red = (value%5) *50;
                        green = (value%3) *80;
                        blue = (value%13) *19;
                        COLORS_T.push('rgba('+red+','+green+','+blue+',0.2)');
                        COLORS_B.push('rgba('+red+','+green+','+blue+',1)');
                    </script>
                    <td th:text="${event.getValeur()}"></td>
                    <td th:text="${event.getDate()}"></td>
                    <td th:text="${event.getCommentaire()}"></td>
                    <td><a th:href="@{/events/detail/{id}(id=${event.id})}">Détail</a></td>
                    <td><a th:href="@{/events/modifier/form/{id}(id=${event.id})}">Edit</a></td>
                    <td><a th:href="@{/events/supprimer/{id}(id=${event.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <a th:href="@{/seriestemporelles/{serieTemporelleId}/events/create/form/(serieTemporelleId=${serieTemporelle.getId()})}">Créer un évenement</a> <br><br>
    </div>
    <a th:href="@{/seriestemporelles/}">Retour à la liste des séries temporelles</a>
    <canvas id="myChart" width="400" height="100"></canvas>
    <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: event_dates,
        datasets: [{
            label: 'Values',
            data: event_values,
            backgroundColor: COLORS_T,
            borderColor: COLORS_B,
            borderWidth: 1,
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</body>
</html>